* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: rgb(243, 243, 243);
  color: rgba(0, 0, 0, 0.8);
}

.navigation {
  width: 50%;
  position: absolute;
}

.mobile-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px auto;
  align-items: center;
}

#menuToggle {
  display: flex;
  flex-direction: column;
  z-index: 1;
  margin-left: 10px;
}

#menuToggle a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
}

#menuToggle input {
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

#menuToggle span {
  display: block;
  width: 20px;
  height: 1px;
  margin-bottom: 3px;
  position: relative;
  background: #cdcdcd;
  z-index: 1;
}

#menu {
  position: absolute;
  width: 100%;
  margin: -70px 0 0 -20px;
  padding:  70% 70%;
  background: rgba(0, 0, 0, 0.8);
  list-style-type: none;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  font-size: 15px;
  color: #cdcdcd;
  white-space: nowrap;

}

#menuToggle input:checked ~ ul {
  transform: none;
}

.nav-bar {
  margin: 0 100px;
}

.header {
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  height: 50px;
}

.desktop-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.desktop-nav li a {
  text-decoration: none;
  color: white;
  opacity: 0.8;
  transition: opacity 400ms;
  font-size: 12px;
}

.desktop-nav li a:hover {
  opacity: 1;
}

/* nav bar icons */

.icon-logo {
  background: url("media//icons/apple-logo.svg");
  display: block;
  background-position: center;
  background-size: 12px;
  height: 44px;
  width: 15px;
  background-repeat: no-repeat;
}

.icon-search {
  background: url("media/icons/search-icon.svg");
  display: block;
  background-position: center;
  background-size: 14px;
  height: 44px;
  width: 20px;
  background-repeat: no-repeat;
}

.icon-bag {
  background: url("media/icons/bag-icon.svg");
  display: block;
  background-position: center;
  background-size: 12px;
  height: 44px;
  width: 18px;
  background-repeat: no-repeat;
}

.title-bar {
  width: 83%;
  margin: 20px auto;
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.horizontal-line {
  margin: 0 auto;
  width: 83%;
}

.apple-watch-bar {
  font-weight: 500;
  font-size: 18px;
}

.buy-button-bar {
  font-size: 14px;
  background-color: rgb(44, 111, 211);
  padding: 8px 16px;
  border-radius: 20px;
}

.buy-button-bar a {
  text-decoration: none;
  color: white;
}

.front-watch-container {
  display: flex;
  flex-direction: column;
  margin: 30px auto;
}

.front-watch-image {
  margin: 0 400px;
}

.front-watch-image img {
  width: 100%;
}

.front-watch-title {
  font-size: 42px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  font-weight: 500;
  letter-spacing: 1px;
}

.front-watch-title span {
  font-size: 53px;
  line-height: 0.8;
}

.front-watch-description {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 70px;
  font-weight: 500;
  margin-top: 20px;
}

.front-watch-price {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 30px;
  font-weight: 400;
}

.series-container {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 80px 0;
}

.series-box-image {
  display: flex;
  justify-content: flex-end;
  margin: 50px 0;
  padding-top: 40px;
}

.series-box-image img {
  width: 80%;
}

.series-box-text {
  display: flex;
  justify-content: flex-start;
  background: -webkit-linear-gradient(
    10deg,
    hsl(120, 100%, 85%),
    rgb(39, 94, 39),
    rgb(26, 36, 26),
    black
  );
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1;
  font-weight: 500;
  font-size: 100px;
}

/* third section */

.second-section {
  width: 100%;
  margin: 50px 100px 200px 0;
}

.container-se {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 300px;
}

.text-se {
  display: grid;
  grid-column-start: 1;
}

.image-se {
  display: grid;
  grid-column-start: 2;
  align-items: center;
  margin: 0 100px 0 0;
}

.image-se img {
  width: 100%;
}

.text-se {
  display: flex;
  flex-direction: column;
}

.watch-se {
  display: flex;
  justify-content: center;
  font-size: 32px;
  letter-spacing: 1px;
}

.watch-se span {
  font-size: 40px;
  line-height: 0.8;
}

.description-se {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  font-size: 50px;
  text-align: center;
  font-weight: 400;
  letter-spacing: 1px;
}

.price-se {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  font-size: 30px;
  font-weight: 400;
}

.button-se {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 20px;
}

.buy-se {
  background-color: rgb(44, 111, 211);
  padding: 10px 20px;
  border-radius: 40px;
}

.buy-se a {
  text-decoration: none;
  color: white;
}

.learn-more-se {
  padding-top: 10px;
}

.learn-more-se a {
  text-decoration: none;
  color: rgb(44, 111, 211);
}

.third-section {
  width: 100%;
  margin: 50px 0;
  background-color: white;
  padding: 100px 60px 80px 60px;
}

video {
  width: 100%;
  border-radius: 10px;
}

.video-description {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  font-size: 80px;
  font-weight: 600;
}

.fourth-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
  margin: 0 auto;
}

.delivery-box,
.contact-us-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 80px;
}

.delivery-icon,
.contact-us-icon {
  font-size: 70px;
  color: rgb(99, 99, 99);
  padding-bottom: 30px;
}

.delivery-title,
.contact-us-title {
  font-size: 30px;
  font-weight: 400;
  padding-bottom: 20px;
}

.delivery-text,
.contact-us-text {
  font-size: 20px;
  padding-bottom: 20px;
}

.delivery-link a,
.contact-us-link a {
  text-decoration: none;
  color: rgb(44, 111, 211);
}

.footer-section {
  background-color: white;
  width: 100%;
  margin: 50px 0 0 0;
  padding: 100px 0 0 0;
}

.footer-container {
  display: flex;
  flex-direction: column;
}

.newsletter-text {
  display: flex;
  justify-content: center;
  font-size: 45px;
  font-weight: 500;
}

.newsletter-email {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 30px 0 30px 0;
  margin: 0 300px;
}

input[type="email"] {
  width: 100%;
  border-radius: 10px 0 0 10px;
  font-size: 20px;
  padding: 20px 30px;
  border: 1px solid grey;
}

input[type="submit"] {
  border-radius: 0 10px 10px 0;
  background: rgb(61, 61, 61);
  color: white;
  font-size: 20px;
  cursor: pointer;
  border: none;
  flex-grow: 2;
  padding: 21px;
}

input:focus {
  outline: none;
}

#submit:hover {
  background-color: rgb(155, 155, 155);
  color: rgb(37, 37, 37);
}

.footer-texts ul {
  margin: 20px 250px;
  list-style-type: none;
  font-size: 12px;
  padding-bottom: 30px;
}

/* media queries */

@media (max-width: 600px) {
  .desktop-nav {
    display: none;
  }

  .title-bar {
    width: 100%;
    margin: 10px 0px 10px 0px;
    padding: 0 15px;
  }

  .horizontal-line {
    width: 100%;
  }

  .front-watch-image {
    margin: 0 20px;
  }

  .front-watch-image img {
    width: 100%;
  }

  .front-watch-title {
    font-size: 22px;
  }

  .front-watch-title span {
    font-size: 29px;
  }

  .front-watch-description {
    font-size: 40px;
  }

  .front-watch-price {
    font-size: 20px;
  }

  .series-container {
    margin: 50px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .series-box-image {
    margin: 0 80px;
    padding-top: 40px;
  }

  .series-box-image img {
    width: 100%;
  }

  .series-box-text {
    display: flex;
    justify-content: center;
    padding: 50px 0 60px 0;
    font-size: 50px;
    text-align: center;
  }

  .second-section {
    width: 100%;
    margin: 0;
  }

  .container-se {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .image-se {
    margin: 0 20px;
  }

  .image-se img {
    width: 100%;
  }

  .text-se {
    display: flex;
    flex-direction: column;
  }

  .watch-se {
    font-size: 22px;
    padding-top: 30px;
  }

  .watch-se span {
    font-size: 29px;
  }

  .description-se {
    padding-top: 10px;
    font-size: 30px;
  }

  .price-se {
    padding-top: 10px;
    font-size: 20px;
  }

  .third-section {
    padding: 50px 30px 40px 30px;
  }

  .video-description {
    padding-top: 20px;
    font-size: 40px;
    text-align: center;
  }

  .fourth-container {
    display: flex;
    flex-direction: column;
  }

  .delivery-box,
  .contact-us-box {
    padding: 20px;
  }

  .delivery-icon,
  .contact-us-icon {
    padding-bottom: 20px;
  }

  .delivery-title,
  .contact-us-title {
    padding-bottom: 10px;
  }

  .delivery-text,
  .contact-us-text {
    padding-bottom: 10px;
  }

  .footer-section {
    padding: 50px 0;
  }

  .newsletter-text {
    font-size: 25px;
  }

  .newsletter-email {
    margin: 0 70px;
  }

  input[type="email"] {
    font-size: 12px;
  }

  input[type="submit"] {
    font-size: 12px;
  }

  .footer-texts ul {
    margin: 0 50px;
    font-size: 8px;
  }
}

@media (min-width: 600px) {
  .navigation {
    display: none;
  }
  .nav-bar {
    margin: 0 20px;
  }

  .title-bar {
    width: 100%;
    margin: 10px 0px 10px 0px;
  }

  .horizontal-line {
    width: 100%;
  }

  .front-watch-image {
    margin: 0 20px;
  }

  .front-watch-image img {
    width: 100%;
  }

  .front-watch-title {
    font-size: 26px;
  }

  .front-watch-title span {
    font-size: 34px;
  }

  .front-watch-description {
    font-size: 50px;
  }

  .front-watch-price {
    font-size: 25px;
  }

  .series-container {
    margin: 80px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .series-box-image {
    margin: 0 170px;
    padding-top: 80px;
  }

  .series-box-image img {
    width: 100%;
  }

  .series-box-text {
    display: flex;
    justify-content: center;
    padding: 50px 0 60px 0;
    font-size: 80px;
    text-align: center;
  }

  .second-section {
    width: 100%;
    margin: 100px auto;
  }

  .container-se {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .image-se {
    margin: 0 50px;
  }

  .image-se img {
    width: 100%;
  }

  .watch-se {
    font-size: 26px;
    padding-top: 30px;
  }

  .watch-se span {
    font-size: 34px;
  }

  .description-se {
    font-size: 40px;
  }
  .price-se {
    font-size: 25px;
  }

  .video-description {
    padding-top: 40px;
    font-size: 60px;
  }

  .fourth-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
  }

  .delivery-box,
  .contact-us-box {
    padding: 20px;
  }

  .delivery-icon,
  .contact-us-icon {
    padding-bottom: 20px;
  }

  .delivery-title,
  .contact-us-title {
    padding-bottom: 10px;
  }

  .delivery-text,
  .contact-us-text {
    padding-bottom: 20px;
  }

  .footer-section {
    margin: 50px 0;
    padding: 50px 0;
  }

  .newsletter-text {
    font-size: 35px;
  }

  .newsletter-email {
    margin: 0 70px;
  }

  input[type="email"] {
    font-size: 15px;
  }

  input[type="submit"] {
    font-size: 15px;
  }

  .footer-texts ul {
    margin: 0 50px;
    font-size: 10px;
  }
}

@media (min-width: 768px) {
  .nav-bar {
    margin: 0 40px;
  }

  .horizontal-line {
    width: 100%;
  }

  .front-watch-image {
    margin: 0 40px;
  }

  .front-watch-image img {
    width: 100%;
  }

  .front-watch-title {
    font-size: 35px;
  }

  .front-watch-title span {
    font-size: 47px;
  }

  .front-watch-description {
    font-size: 70px;
  }

  .front-watch-price {
    font-size: 30px;
  }

  .series-container {
    margin: 80px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .series-box-text {
    padding: 70px 0 100px 0;
    font-size: 100px;
  }

  .watch-se {
    font-size: 32px;
  }

  .watch-se span {
    font-size: 42px;
  }

  .description-se {
    font-size: 70px;
  }

  .price-se {
    font-size: 28px;
    padding-top: 30px;
  }

  .video-description {
    padding-top: 60px;
    font-size: 80px;
  }

  .fourth-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }

  .newsletter-text {
    font-size: 50px;
  }

  .newsletter-email {
    margin: 0 80px;
  }

  input[type="email"] {
    font-size: 20px;
  }

  input[type="submit"] {
    font-size: 20px;
  }

  .footer-texts ul {
    margin: 0 80px;
    font-size: 10px;
    padding-top: 20px;
  }
}

@media (min-width: 992px) {
  .horizontal-line {
    width: 90%;
  }

  .title-bar {
    width: 90%;
    margin: 10px auto;
  }

  .front-watch-image img {
    width: 100%;
  }

  .series-container {
    margin: 80px 0;
    padding: 50px 0 100px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .series-box-text {
    padding: 100px 100px 100px 0;
    font-size: 60px;
    white-space: nowrap;
    text-align: start;
  }

  .container-se {
    width: 90%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
  }

  .watch-se {
    font-size: 25px;
  }

  .watch-se span {
    font-size: 34px;
  }

  .description-se {
    width: 80%;
    font-size: 40px;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .price-se {
    font-size: 22px;
    padding-top: 20px;
  }

  .newsletter-text {
    font-size: 45px;
  }

  .newsletter-email {
    margin: 0 100px;
  }

  input[type="email"] {
    font-size: 20px;
  }

  input[type="submit"] {
    font-size: 20px;
  }

  .footer-texts ul {
    margin: 0 100px;
    font-size: 10px;
    padding-top: 20px;
  }
}
